@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

html{
    scroll-behavior: smooth ;
}

main{
    margin-left: 135px;
    background-color: black;
    color: white;
}

main > div{
    max-width: 1120px;
    margin: auto;
}
#nav{
    display: none;
}


.flex{
    display: flex;
}
.grid{
    display: grid;
}
    /* Nav*/
    nav {
        width: 135px;
        background-color: rgb(34, 34, 34);
        position: fixed;
        height: 100vh;
        z-index: 999;
    }
    nav > ul > li > img{
        width: 100%;
        filter:grayscale(0.5);
        margin-bottom: -0.3rem;
    }

    nav > ul > li > a > i{
        display: block;
        margin-bottom: 1 rem;
    }
    nav > ul > li > a
    {
        display: block;
        text-align: center;
        color: white;
        padding: 2rem 0 2rem 0;
        font-size: 1.25rem;
    }

    nav > ul > li > a.first{
        background-color: black;
    }
    nav > ul > li > a.first:hover{
        background-color: rgb(204, 204, 204);
    }
    nav > ul > li > a:hover{
        background-color: black;
    }


    /*#home*/
    #home{
        text-align: center;
    }
    #home h1 {
        font-size: 5rem;
        font-weight: 300;
        padding: 3rem 0 3rem 0;
    }

    #home h4{
        font-weight: 400;
        margin-bottom: 0.5rem;
    }
    #home > img{
        width: 100%;
        filter: grayscale(0.75);
    }


    /*#about*/
    .title h3{
        font-weight: 300;
        font-size: 2.25rem;
    }

    .title .underline{
        height: 1px;
        width: 250px;
        background-color: white;
        margin : 2rem 0;
    }

    .detail{
        font-weight: 300;
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    #about{
        margin-bottom: 10rem;
    }
    #about > p{
        word-spacing: 0.25rem;
        font-weight: 400;
        color: rgb(117, 115, 113);
        margin-bottom: 7rem;
    }

    #skill{
        margin: 2rem 0;
    }
    #skill .skill{
        font-size: 1.25rem;
        color: rgb(117, 115, 113);
        letter-spacing: 0.25rem;
        margin: 1rem 0;
    }

    #skill .all{
        width: 100%;
        height: 35px;
        background-color: white;
    }
    #skill .rate{
        background-color: rgb(97, 97, 97);
        height: 100%;
        
    }

    .rate.photography{
        width: 80%;
    }

    .rate.design{
        width: 70%;
    }

    .rate.photoshop{
        width: 65%;
    }

    #skill .flex{
        margin-top: 2rem;
        justify-content: space-around;
        background-color: rgb(241, 241, 241);
        padding: 1.5rem;
    }
    #skill .flex li{
        text-align: center;
        color: black;
        font-size: 1.5rem;
    }
    #skill .flex li p:nth-child(2)
    {
        font-weight: 300;
    }

    #skill button{
        margin-top: 2rem;
        border: none;
        background-color: rgb(241, 241, 241);
        font-size: 1.25rem;
        padding: 0.5rem 1rem;
        font-weight: 300;
    }
    #skill button:hover{
        background-color: rgb(204, 204, 204);
    }


    #price{
        margin: 3rem 0;
    }

    #price .grid{
       grid-template-columns: 1fr 1fr;
       gap:1rem
    }
    #price .grid ul{
        background-color: white;
        color: black;
        text-align: center;
        font-weight: 400;
        opacity: 0.7;
    }
    #price .grid ul li{
        padding: 1.5rem;
        border-bottom: 1px solid black;
      
    }
    #price .grid ul:hover{
        opacity: 1;
    }

    #price .grid ul li.service{
        background-color: rgb(97, 97, 97);
        color: white;
        padding: 2.5rem;
        font-size: 1.5rem;
    }
    #price .grid ul li p.price{
        font-size: 2rem;
        font-weight: 300;
    }

    #price .grid ul li:last-child{
        background-color: rgb(241, 241, 241);
        padding: 3rem;
    }
    #price .grid ul li:last-child button{
        margin: auto;
        display: block;
        border: none;
        padding: 1rem 2rem;
        background-color: white;
        font-size: 1.25rem;
        font-weight: 300;
    }
    #price .grid ul li:last-child button:hover{
        background-color: black;
        color: white;
    }

    
    #reputation > ul > li.flex{
        gap:1rem;
        align-items: center;
        color: rgb(117, 117, 98);
        margin: 2rem 0;
    }
    #reputation > ul > li.flex > img{
        height: 100px;
        width: 100px;
        border-radius: 50%;
    }
    #reputation > ul > li.flex > div > div.info{
        gap: 2rem;
        margin-bottom: 2rem;
    }

    /*#photo*/

    #photo{
        margin-bottom: 7rem;
    }
    #photo >.grid{
        grid-template-columns: 1fr 1fr;
        column-gap:1rem;
    }
    
    #photo .grid img{
        width: 100%;
    }
    #photo >.grid >.grid{
        row-gap: 0.5rem;
    }


    /*#contact*/
    #contact {
        padding-bottom: 5rem;
    }
    #contact > ul > li > p {
        margin-bottom: 2rem;
    }
    #contact > ul > li > p > i{
        font-size: 2rem;
        margin-right: 2rem;
    }
    #contact > ul > li > p > span{
        color: rgb(117, 117, 98);
    }
    #contact > p{
        margin: 3rem 0 1rem 0;
        color: rgb(117, 117, 98);
    }

   
    #contact > form > input{
        display: block;
        width: 100%;
        border: none;
        font-size: 1.15rem;
        padding: 1rem;
        margin-bottom: 1.5rem;
    }
    #contact > form > button{
        padding: 1rem;
        font-size: 1.15rem;
    }
    #contact > form > button:hover{
        background-color: rgb(204, 204, 204) ;
    }


    #link {
        padding-bottom: 5rem;
    }
    #link > div > i {
        font-size: 1.5rem;
        color: rgb(204, 204, 204);
        margin-bottom: 2rem;
    }
    #link > p {
        color: rgb(204, 204, 204);
    }
    #link > p > a {
        text-decoration: underline;
    }
    #link > p > a:hover{
        color: green;
    }

@media screen and (max-width: 700px){
    nav{
        display: none;
    }
    main{
        margin-left: 0;
    }
    #price .grid{
        display: block;
    }
    #price .grid li
    {
        margin-bottom: 2rem;
    }
    #photo .grid{
        display: block;
    }

    #nav{
        display: flex;
        color: white;
        width: 100%;
        justify-content: space-around;
    }
    #nav li{
        padding: 0.5rem;
    }
    #nav li:hover{
        background-color: rgb(204, 204, 204);
    }
}