/*RESET*/

html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.flex{
    display: flex;
}

.grid{
    display: grid;
}

h2{
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 0.25rem;
    text-align: center;
    margin-bottom: 5rem;
}

hr{
    width: 75%;
    margin: 7rem auto;
    display: block;
}
/*NAV*/
nav{
    padding: 1rem;
    background-color: white;
    box-shadow: 1px 1px 5px grey;
    width: 100%;
    position: fixed;
    z-index: 1;
}
nav > ul{
    justify-content: space-between;
}

nav .grid{
    grid-auto-flow: column;
}

nav  a{
    display: block;
    letter-spacing: 0.25rem;
    padding:1rem;
}

nav a:hover{
    background-color: rgb(204, 204, 204);
}

/*HEADER*/

#header div{
    position: relative;
    height: fit-content;
}
#header img{
    width: 100%;
    height: 100%23;
}

#header p{
    letter-spacing: 0.25rem;
    font-size: 2.5rem;
    position:absolute;
    bottom: 0rem;
    left: 2rem;
    color: rgb(88, 89, 93);
}

main{
    width: 70%;
    margin: auto ;
}
/* About*/

#about{
    margin-top: 5rem;
    justify-content: center;
    gap: 3rem;
}



#about > div > p:first-of-type{
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 0.25rem;
    margin-bottom: 3rem;
}

#about > div > p:nth-of-type(2), #about > div > p> p:nth-of-type(3){
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

#about > div > p:nth-of-type(2) > span{
    background-color: rgb(241, 241, 241);
    padding: 0.1rem 0.5rem;
    display: inline-block;
}

#about > div > p:nth-of-type(3){
    color: rgb(117, 117, 117);
}

/*Menu*/
#menu{
    justify-content: space-between;
}
#menu > div > ul > li > h3{
    letter-spacing: 0.25rem;
    font-weight: 400;
    margin: 2rem 0;
}

#menu > div > ul >li > p{
    color: rgb(117, 117, 117);
}

#menu > div > ul > li{
    margin: 5rem 0;
}

/*Contact*/
#contact > p:first-of-type{
    margin: 2rem 0;
}

#contact  p.address{
    font-size: 1.25rem;
    font-weight: 500;
    color: rgb(96, 125, 139);
    margin: 3rem 0;
}

#contact > p:last-of-type{
    margin-bottom: 3rem;
}

#contact > form > input{
    display: block;
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid rgb(204, 204, 204);
}

#contact > form > button{
    margin-top: 2rem;
    padding: 1rem;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    border: none;
}

#contact > form > button:hover{
    background-color: rgb(204, 204, 204);
}

/*Footer*/

footer{
    margin-top: 4rem;
    text-align: center;
    background-color: rgb(241, 241, 241);
    padding: 4rem;
}

footer > p> a{
    text-decoration: underline;
}

@media screen  and (max-width: 1213px ){
    main{
        width: 100%;
    }
    #menu{
        flex-direction: column;
    }
    #menu img{
        width: 100%;
    }
}

@media screen  and (max-width: 800px){
    nav .grid{
        display: none;
    }
    #about img{
        display: none;
    }
}